html,
body {
  margin: auto;
}

/* THIS IS CANVAS STYLE*/
/* canvas {
         display: block;
       margin-top: 20px;
       margin-left: 165px;
       margin-right: 90px;
       margin-bottom: 20px;
      } */

/* NOW WE USE HTML CLASS TO GIVE STYLE */
.saini {
  text-align: center;
  font-size: 25px;
  color: rgb(13, 28, 238);
  font-weight: lighter;
}

#input1 {
  margin-left: 535px;
  margin-top: 5px;
  text-align: left;
  padding: 10px 20px;
  color: aqua;
  font-size: 20px;
  font-display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  border-radius: 15px;
  border-width: 3px;
  border-color: red;
  background: black;
}

#btn1 {
  text-align: center;
  margin-left: 650px;
  padding: 13px 20px;
  border-radius: 15px;
  border-width: 2px;
  border-color: olivedrab;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: medium;
}

#label1 {
  margin-left: 565px;
  text-align: center;
}